<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Maintainence</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .heading {
            color: #DCDCDC;
        }

        body {
            background-color: #C0C0C0;
        }

        .default {
            height: 150px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <center>
                <h1 class="heading">Materialized Views</center>
        </div>
    </nav>
    <div class="container default">
    </div>
    <div class="container">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" placeholder="Enter username" class="form-control" name="username">
                </div>
                <br>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Enter password" class="form-control" name="password">
                </div>
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </form>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>